<head>
	<base href="/">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body layout="row" ng-cloak="">
	<div layout="column" layout-fill>
		<topzone id="toolbar" layout="row" layout-padding flex="15"></topzone>

		<div layout="row" flex="85">
			<md-sidenav
					class="md-sidenav-left"
					md-component-id="left"
					md-is-locked-open="$mdMedia('gt-md')"
					md-whiteframe="1"
					layout="column"
					ng-if="$root.currentUser">

				<side-nav layout="column"></side-nav>

			</md-sidenav>

			<div ui-view="" layout-fill></div>
		</div>
	</div>

	<!--
	<div layout="column" layout-fill>
		<toolbar layout="column" flex="15"></toolbar>
		<div ui-view=""></div>
	</div>
	-->

</body>
