side-nav .md-button {
	text-transform: none;
	margin: 0px 0px 0px 0px;
}

#sidenav-menu {
	list-style: none;
}

.md-button.active {
	background: #ECECEC;
}

md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
	min-width: 200px !important;
	width: 200px !important;
} 

.md-button.md-fab.md-tiny {
	line-height: 15px !important;
	width: 15px !important;
	height: 15px !important;
	min-height: 15px !important;
}
