<ul>
	<li>PWR</li>
		<ul>
			<li>FRONT: {{ipcctrl.pwrfront}}</li>
				<ul>
					<md-button class="md-raised" value="ON" ng-click="ipcctrl.frontsubmit('ON')">ON</md-button>
					<md-button class="md-raised" value="OFF" ng-click="ipcctrl.frontsubmit('OFF')">OFF</md-button>
				</ul>
			<li>REAR: {{ipcctrl.pwrrear}}</li>
				<ul>
					<md-input-container>
						<label>Field 1</label>
						<input ng-model="ipcctrl.pwrobj.side">
					</md-input-container>
					<md-input-container>
						<label>Field 2</label>
						<input ng-model="ipcctrl.pwrobj.value">
					</md-input-container>
					<md-button class="md-raised" ng-click="ipcctrl.rearsubmit()">SUBMIT</md-button>
				</ul>
		</ul>
	<li>ALM</li>
		<ul>
			<li>OFF</li>
		</ul>
	<li>VOLT</li>
		<ul>
			<li>ON</li>
		</ul>
	<li>TEMP</li>
		<ul>
			<li>LOW</li>
		</ul>
</ul>
