<div layout="column" layout-align="space-between center">
	<h1 class="md-display-2">WARNING!</h1>
	<span class="md-headline">PRIVATE/PROPRIETARY:</span>
	<span class="md-headline">NO DISCLOSURE OUTSIDE TELEPATH NETWORKS EXCEPT BY WRITTEN AGREEMENT. ANY UNAUTHORIZED ACCESS TO,</span>
	<span class="md-headline">OR MISUSE OF THE SYSTEM OR DATA MAY RESULT IN CIVIL AND/OR CRIMINAL PROSECUTION, EMPLOYEE</span>
	<span class="md-headline">DISCIPLINE UP TO AND INCLUDING DISCHARGE, OR TERMINATION OF VENDOR/SERVICE CONTRACTS.</span>
	<span class="md-headline">THIS SYSTEM ACCESS/USAGE IS MONITORED AND AUDITED.</span>
	<br>
	<br>
	<span class="md-headline">Please sign in to continue.</span>
</div>
