<md-content layout="row" layout-padding layout-wrap>
		<md-input-container flex="20">
			<label>WC_NAME</label>
			<input ng-model="wc_name">
		</md-input-container>
		<md-input-container flex="5">
			<label>WCC</label>
			<input ng-model="wcc">
		</md-input-container>
		<md-input-container flex="15">
			<label>CLLI</label>
			<input ng-model="clli">
		</md-input-container>
		<md-input-container flex="10">
			<label>NPANXX</label>
			<input ng-model="npanxx">
		</md-input-container>
		<md-input-container flex="20">
			<label>OTHER_NAME</label>
			<input ng-model="other_name">
		</md-input-container>
		<md-input-container flex="15">
			<label>FRM_ID/TERM_ID</label>
			<input ng-model="frm_term_id">
		</md-input-container>
		<span flex="15"></span>
		<md-input-container flex="10">
			<label>IPC_MODEL</label>
			<md-select ng-model="ipc_model">
				<md-option>
					64
				</md-option>
			</md-select>
		</md-input-container>
		<md-input-container flex="10">
			<label>IPC_TYP</label>
			<md-select ng-model="ipc_typ">
				<md-option></md-option>
				<md-option>CO</md-option>
				<md-option>CO-L</md-option>
				<md-option>OSP</md-option>
			</md-select>
		</md-input-container>
		<md-input-container flex="10">
			<label>IPC_STAT</label>
			<md-select ng-model="ipc_stat">
				<md-option>INS</md-option>
				<md-option>UNQ</md-option>
			</md-select>
		</md-input-container>
		<span flex="70"></span>
		<md-input-container flex="40">
			<label>LOC_ADR</label>
			<input ng-model="loc_adr">
		</md-input-container>
		<md-input-container flex="20">
			<label>CITY</label>
			<input ng-model="city">
		</md-input-container>
		<md-input-container flex="10">
			<label>STATE/PROVINCE</label>
			<input ng-model="state">
		</md-input-container>
		<md-input-container flex="10">
			<label>ZIP</label>
			<input ng-model="zip">
		</md-input-container>
		<md-input-container flex="5">
			<label>TZONE</label>
			<md-select ng-model="tzone">
				<md-option></md-option>
				<md-option>CST</md-option>
				<md-option>CDT</md-option>
				<md-option>EST</md-option>
				<md-option>EDT</md-option>
				<md-option>MST</md-option>
				<md-option>MDT</md-option>
				<md-option>PST</md-option>
				<md-option>PDT</md-option>
				<md-option>CET</md-option>
				<md-option>CEST</md-option>
			</md-select>
		</md-input-container>
		<md-input-container flex="15">
			<label>GPS_ADR</label>
			<input ng-model="gsp_adr">
		</md-input-container>
		<md-input-container flex="10">
			<label>IPC_IPADR</label>
			<input ng-model="ipc_ipadr">
		</md-input-container>
		<md-input-container flex="10">
			<label>IPC_NETMASK</label>
			<input ng-model="ipc_netmask">
		</md-input-container>
		<md-input-container flex="10">
			<label>IPC_GATEWAY</label>
			<input ng-model="ipc_gateway">
		</md-input-container>
		<md-input-container flex="10">
			<label>GWY_IPADR</label>
			<input ng-model="gwy_ipadr">
		</md-input-container>
		<md-datepicker ng-model="date" md-placeholder="Enter date">
		</md-datepicker>
		
</md-content>
